html {
	height: 100%;
}

body{
    background-color:#F8F9FF;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
}

.rooter_container{
    display: flex;
    height: 100vh;
    width: 100%;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: white;
    background-color: #145795;
    text-decoration: none;
    padding: 2px;
}

.app_side_bar{
    position: "fixed";
    top: 0;
    left: 0;
    bottom: 0;
    flex:15;
    padding: 2rem 1rem;
	background:#0B3862;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
}

.app-container__header__content{
    flex: 85;
    overflow-y: scroll;
}

.app_header{
    top: 0;
    position: fixed;
    width: 85%;
    padding: 5px 5% 5px 5px;
    background: #fff;
    z-index: 1;
    display: flex;
    justify-content: flex-end;
    box-shadow: 2px 2px 2px 1px #d2d5d6;
}

.nav-bar__links{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 40%;
    height: 20%;
    bottom: 0;
}

.nav-bar__links a{
    margin-top: 10px;
}

.nav-bar__links p{
    margin-top: 20px;
    color: #51CBFF;
}

.img_footer{
    position:fixed;
    bottom: 10px;
    left: 2;
    display: flex;
    width: 5rem;
    justify-content: space-between;
}

.img_footer img{
    width: 90%;
    margin: 10px;
}


.content {
    margin-top: 60px;
    padding: 15px;
}







